{% extends 'base.html' %}
{% load static %}
{% block title %} Order History {% endblock %}
<link rel="stylesheet" href="{% static 'css/food.css' %}">
{% block content %}
  <div class="mt-5 container">
    <div class="main-text">
      <h2>My Orders</h2>
      <p>Browse through your orders</p>
    </div>
        <div class="mt-5 pb-5">
            <table class="table table-bordered pb-5">
                <thead>
                  <tr class="ohd">
                    <th style="font-weight: 500;padding: 30px;">Order Date</th>
                    <th style="font-weight: 500;padding: 30px;">Food</th>
                    <th style="font-weight: 500;padding: 30px;">Original Price</th>
                    <th style="font-weight: 500;padding: 30px;">Discount</th>
                    <th style="font-weight: 500;padding: 30px;">Price Paid</th>
                    <th style="font-weight: 500;padding: 30px;">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for o in OrderReport %}
                    <tr class="ohd">
                      <td>{{ o.order_date|date:"F d, Y" }}</td>
                      <td>{{ o.food.name }}</td>
                      <td>৳ {{ o.order_price }}</td>
                      <td>{{o.food.discount_percentage}}%</td>
                      {% if o.food.is_special %}
                        <td>৳ {{ o.food.discount_price }}</td>
                      {% else %}
                        <td>৳ {{ o.order_price }}</td>
                      {% endif %}
                      <td>
                          <a class="detail-btns btn fw-bold " style="background-color: #ff9100;" href="{% url 'review' o.food.id %}">Review</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
  </div>
{% endblock %}